beautifulsoup4==4.12.3
crewai==0.95.0
crewai-tools==0.25.8
requests==2.28.1
apify-client==1.8.1
flask==3.0.0
flask-cors==5.0.0
python-dotenv==1.0.1
pydantic==2.10.5
langchain==0.3.14
litellm==1.57.5
transformers==4.48.0
torch==2.5.1